[user]
    email = eet6646@gmail.com
    name = Emmanuel Thompson
[core]
    editor = nvim
[merge]
    tool = meld
[init]
    defaultBranch = main
[pull]
    rebase = true

[includeIf "gitdir:~/src/fastly/"]
    path = ~/.gitconfig-work
[gui]
	fontui = -family \"DejaVu Sans\" -size 12 -weight normal -slant roman -underline 0 -overstrike 0
	fontdiff = -family \"DejaVu Sans Mono\" -size 12 -weight normal -slant roman -underline 0 -overstrike 0
