[user]
    email = eet6646@gmail.com
    name = Emmanuel Thompson
[core]
    editor = nvim
[merge]
    tool = meld
[init]
    defaultBranch = main
[pull]
    rebase = true

[includeIf "gitdir:~/src/fastly/"]
    path = ~/.gitconfig-work
